In [6]:
import pandas as pd
%matplotlib inline
import matplotlib.pyplot as plt
plt.style.use('ggplot')
import seaborn as sns
insects = pd.read_csv('./insects.csv', sep = '\s+', skiprows=1)

In [33]:
insects.head()

   continent  latitude  wingsize  sex
0          1      35.5       901    0
1          1      37.0       896    0
2          1      38.6       906    0
3          1      40.7       907    0
4          1      40.9       898    0